.loginModal { /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

.fixedNav {
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding: 10px; /* Location of the box */
        left: 2%;
        top: 2%;
        /* width: 20%; Full width */
        /* height: 25%; Full height */
        overflow: auto; /* Enable scroll if needed */ 
        background-color: #fefefe;  

}